.map-container {
    background-color: #ccf;
}
.angular-google-map-container { height: 400px; }
.image {
    width: 150;
    height: 150;
}
.image>img {
    margin: auto;
}
.profile-picture {
    border-radius: 25px;
    transition: border-radius .2s ease-in-out;
}
.profile-picture:hover {
    border-radius: 0;
}
.thumbnail>img {
    position: relative;
}
.overlay {
    display: block;
    position:absolute;
    background-color:#000;
    color: gold;
    opacity: 0.80;
    top: 4px;
    text-align: right;
    padding: 5px;
}
